# Terraform 디렉토리 (플러그인 캐시 등)
.terraform/

# Terraform 상태 파일 (민감 정보 포함 가능)
*.tfstate
*.tfstate.backup

# Terraform 변수 파일 (민감 정보 포함 가능)
*.tfvars
*.tfvars.json

# crash log
crash.log

# 기타 불필요한 로그 파일
*.log

# IDE/에디터 관련 (선택)
.vscode/
.idea/

# macOS / Windows 시스템 파일
.DS_Store
Thumbs.db
